body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #E1EDF4;
}

.uvodnifoto{
    height: 220px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -60px;
    padding: 0;
}

header{
    background-color: rgb(0, 153, 153);
    background-size: cover;
    padding: 60px 15%;
}

h1{
    color: white;
    text-align: center;
    margin-bottom:35px;
    margin-top: 0px;
    font-size: 60px;
    font-weight: 600;
}

.kontakt ul{
    display: inline-flex;
    column-gap: 90px;
    padding-left: 17%;
}

.kontakt img{
    height: 20px;
}

.kontakt a, .kontakt li{
    display: inline-flex;
}

.kdojsem h2{
    margin-top: 50px;
}

h2, h3{
    margin-bottom: 10px;
    font-weight: 600;
}

h2, footer{
    margin-top: 25px;
}


ul{
    margin-top: 12px;
    padding-left: 0;
}

.menu li{
    display:inline-block;
}

.menu{
    margin: -172px 0 0 0;
    padding: 0;
    background-color: rgb(0, 102, 102);
    background-size: cover;
    padding-left: 15%;
    padding-right: 15%;
}

.menu a{
    text-decoration: none;
    display: inline-block;
    padding: 20px 50px;
    color: white;
}

.odsazeni0{
    margin-left: 0;
    padding-left: 0;
}

.odsazeni1{
    padding-left: 80px;
}


.kdojsem, .prace, .vzdelani, .ostatni{
    overflow: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom:25px;
}

footer{
    background-color: rgb(0, 102, 102);
    background-size: cover;
    color: white;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
}

.prace, .ostatni{
    background-color: #C4DCE9;
}


.bold{
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 12px;
}

p{
    margin: 6px;
}

.menu a:hover{
    color:rgb(0, 153, 153);
}

.menu a:focus{
    background-color:rgb(0, 153, 153);
}





/*font-family: 'Montserrat', sans-serif;
#E1EDF4
#D8F8E8
*/
