body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #E1EDF4;
}

.uvodnifoto{
    height: 300px;
    border-radius: 60px 60px 60px 5px;
    float: right;
    padding: 0 0 10px 20px;
}

header{
    background-size: cover;
    background-color: rgb(0, 153, 153);
    padding: 10px 15%;
}

.hlavicka p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

h1{
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 30px;
}

.kontakt{
    text-align: center;
    padding: 0 17%;
    margin: 0px;
}

.kontakt img{
    height: 30px;
}

.kontakt a, .kontakt li{
    display: inline-block;
    padding: 15px 30px 10px 30px;
}

.kdojsem h2{
    text-align: center;
}

h2, h3{
    margin-bottom: 10px;
    font-weight: 600;
}

h2, footer{
    margin-top: 20px;
}


ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.menu li{
    display:inline-block;
}

.menu{
    margin: 0;
    background-color: rgb(0, 102, 102);
    background-size: cover;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.menu a{
    text-decoration: none;
    display: inline-block;
    padding: 20px 50px;
    color: white;
}


.kdojsem, .prace, .vzdelani, .ostatni{
    overflow: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom:25px;
}

footer{
    background-color: rgb(0, 102, 102);
    background-size: cover;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
}

.prace, .ostatni{
    background-color: #C4DCE9;
}


.bold{
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 12px;
}

p{
    margin: 6px;
}

.menu a:hover{
    color:rgb(0, 153, 153);
}

.menu a:focus{
    background-color:rgb(0, 153, 153);
}





/*font-family: 'Montserrat', sans-serif;
#E1EDF4
#D8F8E8
rgb(0, 153, 153)
*/
